<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
</head>

<style>
  .banner-image{
    width: 128px;
    height: 128px;
    border-radius: 128px;
    z-index:-1;
    position: relative;
  }
</style>
<div>
  <div>
    <h1>
       <%= Agent.where({ :id => params.fetch("id")}).first.first_name %> <%= Agent.where({ :id => params.fetch("id")}).first.last_name %>
    </h1>

   <h2>
       <%= Agent.where({ :id => params.fetch("id")}).first.organization_name %>
    </h2>


    <img class="banner-image" src="<%= Agent.where({ :id => params.fetch("id")}).first.photo %>">

    <dl>
     



     <dt>
      </dt>
      <dd>
                <i class="fa-regular fa-envelope"></i> <%= Agent.where({ :id => params.fetch("id")}).first.email %><br>     <i class="fa-brands fa-linkedin"></i> <a href="<%= Agent.where({ :id => params.fetch("id")}).first.linkedin_url %>"> <%= Agent.where({ :id => params.fetch("id")}).first.linkedin_url %></a>
                <br>
                <i class="fa-solid fa-earth-americas"></i> <%= Agent.where({ :id => params.fetch("id")}).first.timezone %>
      </dd>

       <dt>
        Gig(s)
      </dt>
      <dd>
        <% if Gig.all.where({ :agent_id => params.fetch("id") }).present? %>
        <% Gig.all.where({ :agent_id => params.fetch("id") }).each do |a_gig| %>
        <ul>
        <li><a href="/gigs/<%= a_gig.id %>"><%= a_gig.title %></a></li>
        </ul>
        <% end %>
        <% else %>
        No gigs yet.
        <% end %>
      </dd>

      <dt>
        Client(s)
      </dt>
      <dd>
        <% if Gig.all.where({ :agent_id => params.fetch("id") }).present? && Gig.all.where({ :agent_id => params.fetch("id") }).first.agent_id.present? %>
        <%= User.where({ :id => Gig.all.where({ :agent_id => params.fetch("id") }).agent_id }).first.first_name %>
        <% else %>
        None so far. 
        <% end %>
      </dd>

      <dt>
        Biography
      </dt>
      <dd>
        <%= Agent.where({ :id => params.fetch("id")}).first.about %>
      </dd>

      

      <dt>
        Member since
      </dt>
      <dd>
        <%= time_ago_in_words(Agent.where({ :id => params.fetch("id")}).first.created_at) %> ago
      </dd>


    </dl>
  </div>
</div>

<hr>

<% if @current_agent.present? %>
<div>
  <div>
    <h2>
      <a href="/edit_agent_profile">Edit profile</a>
    </h2>
<hr>
<h2><a href="/gigs">Find a gig</a></h2>
<hr>
<h2><a href="/messages">Messages (<%= Message.all.where({:agent_id => @current_agent.id}).count %>)</a></h2>
<% else %>

<% end %>
