<div>
  <div>
    <h1>
      <%= @the_gig.title %> Gig
    </h1>

    <div>
      <div>
      <% if @current_agent.present? %>
      <a href="/gigs">
          Go back
        </a>
        <% else %>
        <a href="/user_profile">
          Go back
        </a>
        <% end %>
      </div>

      
    </div>

    <dl>
     

      <dt>
        User
      </dt>
      <dd>
        <a href=""><%= User.where({ :id => @the_gig.user_id}).first.first_name %></a>
      </dd>

      

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_gig.description %>
      </dd>

      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_gig.industry %>
      </dd>

      <dt>
        Agent
      </dt>
      <dd>
        <%= @the_gig.agent_id %>
      </dd>

      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_gig.created_at) %> ago
      </dd>

 
    </dl>
  </div>
</div>

<hr>
<% if @current_agent.present? %>

<% else %>

<div>
  <div>
    <h2>
      Edit gig
    </h2>

    <form action="/modify_gig/<%= @the_gig.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_gig.title %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_gig.user_id %>">
      </div>

      <div>
        <label for="agent_id_box">
          Agent
        </label>

        <input type="text" id="agent_id_box" name="query_agent_id" value="<%= @the_gig.agent_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_gig.description %>">
      </div>

      <div>
        <label for="industry_box">
          Industry
        </label>

        <input type="text" id="industry_box" name="query_industry" value="<%= @the_gig.industry %>">
      </div>

      <button>
        Update gig
      </button>
    </form>
  </div>
</div>

<hr>
<% end %>
<div>

<% if @current_agent.present? %>
      <form action="/gigs/request_form/<%= @the_gig.id %>">
          <button> Message <%= User.where({ :id => @the_gig.user_id }).first.first_name %></button>
        </form>
        <% else %>
        <a href="/delete_gig/<%= @the_gig.id %>">
          Delete gig
        </a>
        <% end %>

      </div>
